body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 350px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 24px;
    border-bottom: 2px solid #00bcd4;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input{
    width: 58.5%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #00bcd4;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0097a7;
}

#resultado {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

canvas {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;

}

